<%= form_with(model: menu_category) do |form| %>
  <% if menu_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(menu_category.errors.count, "error") %> prohibited this menu_category from being saved:</h2>

      <ul>
        <% menu_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :menu_id, style: "display: block" %>
    <%= form.text_field :menu_id %>
  </div>

  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.text_field :category_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
