<p style="color: green"><%= notice %></p>

<h1>Menus</h1>

<div>
  <%= link_to 'New Menu', new_menu_path, class:"btn btn-secondary" %>
</div>
<br>
<div id="menus">
  <table class="w-100 table table-striped table-light table-hover table-bordered">
    <thead class="thead-light">
      <tr>
        <th style="width:20%">Name</th>
        <th style="width:15%">Price</th>
        <th style="width:20%">Categories</th>
        <th style="width:35%">description</th>
        <th style="width:10%"> </th>
      </tr>
    </thead>

    <tbody>
      <% @menus.each do |menu| %>
        <tr>
          <td><%= link_to menu.name, menu, class:"text-black" %></td>
          <td><%= menu.price %></td>
          <td>
          <% menu.categories.each do |category| %>
            <div> <%= category.name %></div>
          <% end %>
          </td>
          <td><%= menu.description %></td>
          <%# turbo rails not working %>
          <td><%= button_to 'Delete', menu, 
                  method: :delete, 
                  onclick: "return confirmDestroy('Are you sure want destroy this menu?')", 
                  class: "btn btn-outline-danger btn-sm text-black" %></td> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
