<p style="color: green"><%= notice %></p>

<%= render @menu %>

<div>
  <%= link_to "Edit this menu", edit_menu_path(@menu) %> |
  <%= link_to "Back to menus", menus_path %>
  <br><br>
  <%= button_to 'Delete', 
      @menu, 
      method: :delete, 
      onclick: "return confirmDestroy('Are you sure want destroy this menu?')", 
      class: "btn btn-danger btn-sm text-white" %>
</div>
