<p style="color: green"><%= notice %></p>

<%= render @customer %>

<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer) %> |
  <%= link_to "Back to customers", customers_path %>
  <br><br>
  <%= button_to 'Delete', 
      @customer, 
      method: :delete, 
      onclick: "return confirmDestroy('Are you sure want destroy this customer?')", 
      class: "btn btn-danger btn-sm text-white" %>
</div>
