<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>
  <br><br>
  <%= button_to 'Delete', 
      @category, 
      method: :delete, 
      onclick: "return confirmDestroy('Are you sure want destroy this category?')", 
      class: "btn btn-danger btn-sm text-white" %>
</div>
